USE [gestion_ordenes_mantenimiento]
GO
/****** Object:  Table [dbo].[existencias]    Script Date: 19/12/2024 02:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[existencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_id] [int] NULL,
	[codigo_almacen] [varchar](10) NULL,
	[qty_stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materiales]    Script Date: 19/12/2024 02:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materiales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_material] [varchar](255) NOT NULL,
	[descripcion_material] [varchar](255) NOT NULL,
	[tipo_reposicion] [varchar](255) NOT NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[unidad_medida] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordenes_mantenimiento]    Script Date: 19/12/2024 02:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenes_mantenimiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden_trabajo] [varchar](20) NOT NULL,
	[tipo_orden] [varchar](100) NOT NULL,
	[equipo] [varchar](255) NULL,
	[descripcion_equipo] [varchar](255) NULL,
	[descripcion_trabajo] [varchar](255) NOT NULL,
	[revision] [varchar](30) NULL,
	[taller_id] [int] NOT NULL,
	[qty_personas] [int] NULL,
	[numero_horas] [int] NULL,
	[carga_laboral_HH]  AS ([numero_horas]*[qty_personas]),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 19/12/2024 02:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_pedido] [varchar](20) NOT NULL,
	[costo_total] [decimal](10, 2) NULL,
	[qty_pedido] [int] NULL,
	[qty_pendiente_entrega] [int] NULL,
	[fecha_generacion] [date] NOT NULL,
	[fecha_entrega] [date] NOT NULL,
	[proveedor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 19/12/2024 02:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_proveedor] [varchar](20) NULL,
	[nombre_proveedor] [varchar](255) NULL,
	[ruc_proveedor] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas]    Script Date: 19/12/2024 02:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_reserva] [varchar](20) NOT NULL,
	[orden_mantenimiento_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[qty_solicitada] [int] NOT NULL,
	[qty_retirada] [int] NULL,
	[fecha_requerimiento] [date] NOT NULL,
	[pedido_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[talleres]    Script Date: 19/12/2024 02:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[talleres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_taller] [varchar](20) NULL,
	[nombre_taller] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[existencias] ON 

INSERT [dbo].[existencias] ([id], [material_id], [codigo_almacen], [qty_stock]) VALUES (992, 1, N'1001', 38)
INSERT [dbo].[existencias] ([id], [material_id], [codigo_almacen], [qty_stock]) VALUES (993, 2, N'1001', 1)
INSERT [dbo].[existencias] ([id], [material_id], [codigo_almacen], [qty_stock]) VALUES (994, 3, N'1001', 12)
GO
SET IDENTITY_INSERT [dbo].[existencias] OFF
GO
SET IDENTITY_INSERT [dbo].[materiales] ON 

INSERT [dbo].[materiales] ([id], [codigo_material], [descripcion_material], [tipo_reposicion], [precio_unitario], [unidad_medida]) VALUES (1, N'10489275', N'GLASS,SIGHT,2 NPT,DC-3DB2000,DESCASE', N'PD', CAST(78.52 AS Decimal(10, 2)), N'EA')
INSERT [dbo].[materiales] ([id], [codigo_material], [descripcion_material], [tipo_reposicion], [precio_unitario], [unidad_medida]) VALUES (2, N'10489274', N'GLASS,SIGHT,1-1/2 NPT,DC-3DB1500,DESCASE', N'PD', CAST(66.71 AS Decimal(10, 2)), N'EA')
INSERT [dbo].[materiales] ([id], [codigo_material], [descripcion_material], [tipo_reposicion], [precio_unitario], [unidad_medida]) VALUES (3, N'10489273', N'GLASS,SIGHT,1-1/4 NPT,DC-3DB1250,DESCASE', N'PD', CAST(54.48 AS Decimal(10, 2)), N'EA')
GO
SET IDENTITY_INSERT [dbo].[materiales] OFF
GO
SET IDENTITY_INSERT [dbo].[ordenes_mantenimiento] ON 

INSERT [dbo].[ordenes_mantenimiento] ([id], [orden_trabajo], [tipo_orden], [equipo], [descripcion_equipo], [descripcion_trabajo], [revision], [taller_id], [qty_personas], [numero_horas]) VALUES (1, N'100906163', N'PM01', N'', N'Cyclone Feed Piping', N'4Y C/O Mech Cyclone Cluster Feed Pipe', N'', 5, 5, 1)
INSERT [dbo].[ordenes_mantenimiento] ([id], [orden_trabajo], [tipo_orden], [equipo], [descripcion_equipo], [descripcion_trabajo], [revision], [taller_id], [qty_personas], [numero_horas]) VALUES (2, N'100954953', N'PM01', N'0330-FTR-0006', N'Vertical Gear Reducer', N'5Y C/O Reducer Vertical Cell', N'', 5, 1, 5)
INSERT [dbo].[ordenes_mantenimiento] ([id], [orden_trabajo], [tipo_orden], [equipo], [descripcion_equipo], [descripcion_trabajo], [revision], [taller_id], [qty_personas], [numero_horas]) VALUES (3, N'100974052', N'PM01', N'0330-PPR-0017', N'Piping & Valving', N'6M C/O Mech Discharge Hose', N'', 5, 5, 4)
GO
SET IDENTITY_INSERT [dbo].[ordenes_mantenimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[pedidos] ON 

INSERT [dbo].[pedidos] ([id], [numero_pedido], [costo_total], [qty_pedido], [qty_pendiente_entrega], [fecha_generacion], [fecha_entrega], [proveedor_id]) VALUES (1, N'4400583553-90', CAST(10.71 AS Decimal(10, 2)), 1, 0, CAST(N'2024-08-19' AS Date), CAST(N'2024-12-10' AS Date), 3)
INSERT [dbo].[pedidos] ([id], [numero_pedido], [costo_total], [qty_pedido], [qty_pendiente_entrega], [fecha_generacion], [fecha_entrega], [proveedor_id]) VALUES (2, N'4400593091-20', CAST(3637.00 AS Decimal(10, 2)), 1, 0, CAST(N'2024-10-15' AS Date), CAST(N'2025-04-22' AS Date), 5)
INSERT [dbo].[pedidos] ([id], [numero_pedido], [costo_total], [qty_pedido], [qty_pendiente_entrega], [fecha_generacion], [fecha_entrega], [proveedor_id]) VALUES (3, N'4400593091-10', CAST(3637.00 AS Decimal(10, 2)), 1, 0, CAST(N'2024-10-15' AS Date), CAST(N'2025-04-22' AS Date), 6)
GO
SET IDENTITY_INSERT [dbo].[pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([id], [codigo_proveedor], [nombre_proveedor], [ruc_proveedor]) VALUES (1, N'1', N'CCI', N'294746236297')
INSERT [dbo].[proveedores] ([id], [codigo_proveedor], [nombre_proveedor], [ruc_proveedor]) VALUES (2, N'2', N'BRAY', N'298109615434')
INSERT [dbo].[proveedores] ([id], [codigo_proveedor], [nombre_proveedor], [ruc_proveedor]) VALUES (3, N'3', N'ADOLPHUS', N'229017601215')
SET IDENTITY_INSERT [dbo].[proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[reservas] ON 

INSERT [dbo].[reservas] ([id], [numero_reserva], [orden_mantenimiento_id], [material_id], [qty_solicitada], [qty_retirada], [fecha_requerimiento], [pedido_id]) VALUES (4, N'2441485', 300, 454, 6, 5, CAST(N'2025-01-25' AS Date), 307)
INSERT [dbo].[reservas] ([id], [numero_reserva], [orden_mantenimiento_id], [material_id], [qty_solicitada], [qty_retirada], [fecha_requerimiento], [pedido_id]) VALUES (5, N'2609468', 331, 197, 3, 1, CAST(N'2025-02-22' AS Date), 204)
INSERT [dbo].[reservas] ([id], [numero_reserva], [orden_mantenimiento_id], [material_id], [qty_solicitada], [qty_retirada], [fecha_requerimiento], [pedido_id]) VALUES (6, N'2481824', 434, 430, 7, 3, CAST(N'2025-02-25' AS Date), 450)
GO
SET IDENTITY_INSERT [dbo].[reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[talleres] ON 

INSERT [dbo].[talleres] ([id], [codigo_taller], [nombre_taller]) VALUES (1, N'MCRU', N'Chancado')
INSERT [dbo].[talleres] ([id], [codigo_taller], [nombre_taller]) VALUES (2, N'MOVE', N'Fajas')
INSERT [dbo].[talleres] ([id], [codigo_taller], [nombre_taller]) VALUES (3, N'MGRI', N'Molinos')
SET IDENTITY_INSERT [dbo].[talleres] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__material__F19F958887B40D3C]    Script Date: 19/12/2024 02:25:54 ******/
ALTER TABLE [dbo].[materiales] ADD UNIQUE NONCLUSTERED 
(
	[codigo_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ordenes___43D6A52B684F59B6]    Script Date: 19/12/2024 02:25:54 ******/
ALTER TABLE [dbo].[ordenes_mantenimiento] ADD UNIQUE NONCLUSTERED 
(
	[orden_trabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__proveedo__0EF366B370B3DE28]    Script Date: 19/12/2024 02:25:54 ******/
ALTER TABLE [dbo].[proveedores] ADD UNIQUE NONCLUSTERED 
(
	[codigo_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__talleres__CE9FAE48CFBD21A4]    Script Date: 19/12/2024 02:25:54 ******/
ALTER TABLE [dbo].[talleres] ADD UNIQUE NONCLUSTERED 
(
	[codigo_taller] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[existencias]  WITH CHECK ADD  CONSTRAINT [FK_materiales_existencias] FOREIGN KEY([material_id])
REFERENCES [dbo].[materiales] ([id])
GO
ALTER TABLE [dbo].[existencias] CHECK CONSTRAINT [FK_materiales_existencias]
GO
ALTER TABLE [dbo].[ordenes_mantenimiento]  WITH CHECK ADD  CONSTRAINT [FK_taller_orden_mantenimiento] FOREIGN KEY([taller_id])
REFERENCES [dbo].[talleres] ([id])
GO
ALTER TABLE [dbo].[ordenes_mantenimiento] CHECK CONSTRAINT [FK_taller_orden_mantenimiento]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK_proveedores_pedidos] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[proveedores] ([id])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK_proveedores_pedidos]
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD  CONSTRAINT [FK_materiales_reservas] FOREIGN KEY([material_id])
REFERENCES [dbo].[materiales] ([id])
GO
ALTER TABLE [dbo].[reservas] CHECK CONSTRAINT [FK_materiales_reservas]
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_mantenimiento_reservas] FOREIGN KEY([orden_mantenimiento_id])
REFERENCES [dbo].[ordenes_mantenimiento] ([id])
GO
ALTER TABLE [dbo].[reservas] CHECK CONSTRAINT [FK_ordenes_mantenimiento_reservas]
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_reservas] FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedidos] ([id])
GO
ALTER TABLE [dbo].[reservas] CHECK CONSTRAINT [FK_pedidos_reservas]
GO
